langchain
langchain-core
langchain-community
langgraph
langchain-google-genai
langchain-groq
python-dotenv
faiss-cpu
tiktoken
fastapi
uvicorn
requests
langchain-ollama
langchain_huggingface
langchain
langchain-core
langchain-community
chromadb
sentence-transformers
pypdf
unstructured
beautifulsoup4
lxml 
pandas
numpy
streamlit
tqdm
